@page
@model KoreanKirklandCentralChurch.Pages.Admin.Albums.IndexModel
@{
    ViewData["Title"] = "앨범관리자";
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">앨범관리자</h1>
        <p class="lead">앨범 관리자 페이지입니다.</p>
    </div>
</div>
<div class="container">
    <p>
        <a asp-page="Create">새로 만들기</a>
    </p>
    <table class="table table-hover text-center align-middle">
        <thead>
            <tr>
                <th scope="col">
                    앨범커버
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Albums[0].Title)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Albums[0].Date)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Albums[0].AlbumLink)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Albums)
            {
            <tr>
                <td scope="row">
                    <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="100" height="100" />
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="align-middle">
                    <a href="@Html.DisplayFor(modelItem => item.AlbumLink)">@Html.DisplayFor(modelItem => item.AlbumLink)</a>
                </td>
                <td class="align-middle">
                    <a asp-page="./Edit" asp-route-id="@item.Id">수정</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">세부사항</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">삭제</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>